@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --soft-pink: #EDC7B7;
  --lightest-pink: #EEE2DC;
  --warm-violet: #BAB2B5;
  --dark-imperial-blue: #123C69;
  --ruby: #AC3B61;
 
}

.label {
  color: white;
  padding: 1px;
}

.li {
  color: rgb(23, 22, 22);
  vertical-align: text-top;
}

.pOrange {background-color: #ff9800;} /* Orange */

h2 {
    text-align: right;
    font-family: 'Nunito', sans-serif;
    padding:  2em 0;
    border: 2em ;
    font-size:2em;
    color: rgb(255, 255, 255);
    margin: 0;
  }

h3 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding:  1em 0;
  color: rgb(252, 252, 252);
  margin: 0;
}

h4 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding:  2em 0;
    border: 2em ;
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin: 0;
  }


html {
  background: var(--lightest-pink);
}

body {
  margin: 0;
  background: rgb(33, 22, 22);
  
}

.container {
  background-image: url("img/start.jpg");
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

.header {
  background-image : url("img/logo.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;
}

.meat {
  background: black;
}

.auction {
  background: var(--dark-imperial-blue);
}

.vegetable {
  background: var(--warm-violet);
}

.fruit {
  background: var(--soft-pink);
}

div {
  min-height: 100px;
  background:rgb(32, 32, 32);
}

.div_small {
    min-height: 20px;
    background: rgb(0, 0, 0);
  }
img{
  width: 100%;

}

/*table */
.buyInfoTable {
  background-color: oldlace;
  margin: 1em auto;
  width: 70%;
  border-spacing: 0;
}

.sellInfoTable {
  background-color: oldlace;
  margin: 1em auto;
  width: 70%;
  border-spacing: 0;
}

tr {
  border-bottom: 2px solid grey;
  
}
td, th {
  border-bottom: 1px solid grey;
  padding: .5em;
  text-align: center;
}

tr:hover {background-color: lightcoral;}

th {
  font-size: 1.5em;
  background: moccasin;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Top left text */
.top-left {
  position: absolute;
  top: 150px;
  left: 16px;
  height : 20px;
}
.top-mid {
  position: absolute;
  top: 100px;
  left: 350px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 150px;
  right: 80px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 200px;
}

.bottom-center {
  position: absolute;
  bottom: 20px;
  left: 400px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 100px;
}

#sellForm {
  display: none;
}